.low {
    cursor: pointer;
    margin-right: 10px;
    color: green;
    border-radius: 3px;
    transition: all 0.7s;
}

.medium {
    cursor: pointer;
    margin-right: 10px;
    border-radius: 3px;
    color: orange;
    transition: all 0.7s;
}

.high {
    cursor: pointer;
    margin-right: 10px;
    border-radius: 3px;
    color: red;
    transition: all 0.7s;
}

.low:hover {
    scale: 1.2;
}

.medium:hover {
    scale: 1.2;
}

.high:hover {
    scale: 1.2;
}

.DelBtn {
    margin-left: 10px;
    outline: none;
    padding: 4px 6px;
    border: 3px rgba(0, 0, 0, 0.1) outset ;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.DelBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #007bff;
}


