.NoteLi {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    gap: 10px;
    transition: all 0.7s;
}


.NoteListSelect{
    margin-left: 10px;
    outline: none;
    padding: 4px 6px;
    border: 3px rgba(0, 0, 0, 0.1) outset ;
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 15px;
}

.NoteListSelect:focus {
    box-shadow: 0 0 8px #007bff;
    border: 3px rgba(0, 0, 0, 0.1) inset ;
}

.NoteListSelect:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #007bff;
}

.NoNotes {
    text-align: center;
    text-transform: uppercase;
    color: #777777;
}